<input name="{{inputName}}" type="{{#if inputIsPassword}}password{{else}}text{{/if}}"
       class="for_event input-value {{#if inputDisplayError}}valid-error{{/if}}"
        required value="{{ inputValue }}" {{#if inputReadOnly}}readonly{{/if}}/>
<label class="input-placeholder">{{ inputPlaceholder }}</label>
<label style="{{#if inputDisplayError}}display: block;{{else}}display: none;{{/if}}"
       class="input-error">{{ inputError }}</label>
