<form class="for_event_form" style="display: flex;justify-content: center;flex-direction: column;" action="#">
    <div style="height: 80%" class="div__form-input">
        <h1 style="margin-top: 100px">Регистрация</h1>

        {{{ inputEmail }}}
        {{{ inputLogin }}}
        {{{ inputFirstName }}}
        {{{ inputSecondName }}}
        {{{ inputPhone }}}
        {{{ inputPassword }}}
        {{{ inputPasswordRepeat }}}
    </div>

    <div style="margin-top: 50px;height: 30%" class="div__form-input">
        {{{ button }}}
        {{{ labelEntry }}}
    </div>
</form>
