<form style="display: flex;justify-content: center;flex-direction: column;">
    <div style="height: 80%" class="div__form-input">
        <h1 style="margin-top: 100px">Регистрация</h1>

        {{{ input_email }}}
        {{{ input_login }}}
        {{{ input_first_name }}}
        {{{ input_second_name }}}
        {{{ input_phone }}}
        {{{ input_password }}}
        {{{ input_password_repeat }}}
    </div>

    <div style="margin-top: 50px;height: 30%" class="div__form-input">
        {{{ button }}}
        <label style="margin-top: 15px" class="div__form-input__label"
               href="src/pages/authorization/authorization.html">Войти</label>
    </div>
</form>
