<form class="for_event_form">
    <h1 style="margin-top: 50px">Изменить пароль</h1>

    <div style="height: 80%;width: 40%;margin-top: 40px;" class="div__form-input">
        {{{ inputOldPassword }}}
        {{{ inputNewPassword }}}
        {{{ inputNewPasswordRepeat }}}
    </div>

    <div style="margin-top: 359px;height: 15%;" class="div__form-input__buttons">
        {{{ buttonCancel }}}
        {{{ buttonSave }}}
    </div>
</form>
