<div class="message_preview__main {{#if message-select}}select{{/if}}">
    <div style="{{ style_width }}" class="message_preview__group">
        <div class="div__show-avatar" name="avatar"></div>
        <div class="div__message_preview__text">
            <p class="p__message_preview__title">{{ message_user }}</p>
            <p class="p__message_preview__text">
                {{#if last_message_is_you}}<span class="is-you">Ğ’Ñ‹:</span>{{/if}}
                {{ message_text }}
            </p>
        </div>
        <div class="div__message_preview__info">
            <p>{{ message_data }}</p>
            <p class="p__message_preview__count {{#if show_message_count}}show{{/if}}">{{ message_count }}</p>
        </div>
    </div>
</div>
