<div style="display: flex;justify-content: center;flex-direction: column;width: 100%">
    <div style="margin-top: 25px;" class="for_event div__empty-icon">
        <img src="{{ icon_empty_avatar }}" alt="Изображение пользователя">
        <p>Изменить<br>аватар</p>
    </div>

    <div style="height: 80%;width: 40%;margin-top: 10px;" class="div__form-input">
        {{{ inputEmail }}}
        {{{ inputLogin }}}
        {{{ inputFirstName }}}
        {{{ inputSecondName }}}
        {{{ inputDisplayName }}}
        {{{ inputPhone }}}
    </div>

    <div style="margin-top: 25px;height: 15%;" class="div__form-input__buttons">
        {{{ button_change_data }}}
        {{{ button_change_password }}}
    </div>
    <div style="margin-top: 20px;height: 15%;" class="div__form-input__buttons">
        {{{ buttonBack }}}
        {{{ buttonOut }}}
    </div>
</div>
