{{{dialogControl}}}
<div class="div__top-chat-user">
    <div class="icon-avatar"></div>
    <p>{{ chatUser }}</p>
    <div style="margin: 15px" class="div__menu-user">
        {{{ iconSetting }}}
    </div>
</div>
<div class="panel_for_message">
    <div class="all_message"></div>
</div>
<div class="div__bottom-chat-message">
    {{{ iconAddObject }}}
    <input name="message" class="input__for-chat"/>
    {{{ iconSendMess }}}
</div>
