<div class="div__top-chat-user">
    <div class="icon-avatar"></div>
    <p>{{ chat_user }}</p>
    <div style="margin: 15px" class="div__menu-user">
        <img src={{ icon_setting }}>
    </div>
</div>
<div class="panel_for_message">
<div class="all_message">

</div>
</div>
<div class="div__bottom-chat-message">
    <img src={{ icon_add_object }} alt="Иконка добавления объекта">
    <input name="message" class="input__for-chat"/>
    <img id="icon_send_message" src={{ icon_send_mess }} alt="Иконка добавления объекта">
</div>

{{{ dialog_control }}}
