<div class="div__for_dialog__dialog_ask" style="display: none;">
    <div style="height: 260px;" class="div__dialog_ask"><p id=title_dialog_ask>Загрузите файл</p>
        <p style="margin-top: 30px" class="select-file">Выбрать файл <br> на компьютере</p>
        {{{ button_select_file}}}
        <p style="margin-top: 10px" class="error">Нужно выбрать файл</p>
    </div>
</div>

<form style="display: flex;justify-content: center;flex-direction: column;">

    <h1 style="margin-top: 50px">Изменить данные</h1>

    <div style="height: 80%;width: 40%;margin-top: 40px;" class="div__form-input">
        {{{ input_email }}}
        {{{ input_login }}}
        {{{ input_first_name }}}
        {{{ input_second_name }}}
        {{{ input_display_name }}}
        {{{ input_phone }}}
    </div>

    <div style="margin-top: 80px;height: 15%;" class="div__form-input__buttons">
        {{{ button_cancel }}}
        {{{ button_save }}}
    </div>

</form>
