<form class="for_event_form" style="display: flex;justify-content: center;flex-direction: column;">

    <h1 style="margin-top: 50px">Изменить данные</h1>

    <div style="height: 80%;width: 40%;margin-top: 40px;" class="div__form-input">
        {{{ inputEmail }}}
        {{{ inputLogin }}}
        {{{ inputFirstName }}}
        {{{ inputSecondName }}}
        {{{ inputDisplayName }}}
        {{{ inputPhone }}}
    </div>

    <div style="margin-top: 80px;height: 15%;" class="div__form-input__buttons">
        {{{ buttonCancel }}}
        {{{ buttonSave }}}
    </div>

</form>
